---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #111130;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

body.groomsman {
  background-color: #0E0E1F;
  color: white;
  font-variant: small-caps;
  hr {
    border-color: white;
  }
  h1 {
    font-size: 26vw;
    font-weight: 800;
    text-align: center;
    margin-bottom: 60px;
  }
  h2 {
    font-size: 16vw;
    font-weight: 600;
    text-align: center;
  }
  h3 {
    font-size: 8vw;
    font-weight: 400;
    text-align: center;
    font-variant: initial;
    font-style: italic;
  }
  .intense {
    color: white;
    text-shadow:
    4px 4px 1px #300000,
    4px 6px 1px #400000,
    4px 8px 1px #500000,
    4px 10px 1px #600000,
    4px 12px 1px #700000,
    4px 14px 1px #800000,
    4px 16px 1px #900000,
    4px 18px 1px #A00000,
    4px 20px 1px #B00000,
    4px 22px 1px #C00000,
    4px 24px 1px #D00000,
    4px 26px 1px #E00000,
    4px 28px 1px #F00000,
    4px 30px 1px #FA0000,
    4px 32px 1px #FB0000,
    4px 34px 1px #FC0000,
    4px 36px 1px #FD0000,
    4px 38px 1px #FE0000,
    4px 40px 2px #FF0000;
  }
}

.maps iframe {
  pointer-events: none;
}
