<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Stephanie Dietz &amp; Justin Burris</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-4 col-md-offset-1 text-center">
        <img src="img/profile/stephanie.jpg" class="img-responsive">
        <h3>Stephanie Dietz</h3>
        <p class="text-muted">
          Stephanie grew up in metro Atlanta, and has lived in Mexico, London, India and Singapore.
          She is currently a statistician at the CDC, and promises that if she isn't already a zombie,
          she'll be sure to tell you if something bad happens.
        </p>
        <p class="text-muted">
          Stephanie has two younger siblings, Joseph and Christina, and a cat named Oxy.
          Stephanie loves to cook and bake, and is very excited to continue her adventures together with Justin.
        </p>
      </div>
      <div class="col-md-4 col-md-offset-2 text-center">
        <img src="img/profile/justin.jpg" class="img-responsive">
        <h3>Justin Burris</h3>
        <p class="text-muted">Justin did X, Y and Z</p>
      </div>
    </div>
  </div>
</section>
