<section id="accomodations">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Here's where to stay</h2>
      <p>
        We're excited that you're able to attend and we'd like to help you have a comfortable stay
        in North Georgia. Due to the popularity of the mountains in the fall, the best options
        for housing are vacation rental homes. As these book quickly, we recommend you reserve
        a space soon. Below is a link to some VRBO houses to get you started. VRBO has the majority
        of rentals in the area.
      </p>
      <p>
        If there are issues, please let us know if you need help finding accomodations for this weekend.
      </p>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
        <a href="https://www.vrbo.com/vacation-rentals/usa/georgia/northeast-mountains/lake-burton?sleeps=2-plus&Location+Type=Lakefront&from-date=2016-10-14&to-date=2016-10-16&sort+by=Price%2FAscending" class="btn btn-default btn-xl">
          <i class="icon-lake fa-2x"></i>
          Lake Views
        </a>
        <a href="https://www.vrbo.com/vacation-rentals/usa/georgia/northeast-mountains/clayton/@34.99579729993878,-83.25982674814452,34.73212628047951,-83.52624520517577,11z?sleeps=2-plus&Location+Type=Mountain%20View&from-date=2016-10-14&to-date=2016-10-16&sort+by=Price%2fAscending" class="btn btn-default btn-xl">
          <i class="icon-mountains fa-2x"></i>
          Mountain Views
        </a>
    </div>
  </div>
</section>
