<section class="bg-dark" id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Wedding Events</h2>
        <hr class="light">
        <p>
          Wedding and reception will take place at Tiger Mountain Vineyards
          in Tiger, Georgia. The ceremony will begin at 4 o'clock in the
          afternoon on the 15th of October, 2016, followed by cocktail
          hour with wine from the vineyard and cheese.
        </p>
        <p>
          Barbeque dinner and beverages will be served by Williamson Brother's BBQ
          around 6:00 p.m. Guests of all ages are welcome to enjoy the festivities and lawn games.
          The Tiger Mountain Vineyard tasting room will be open for those intersted.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-2 text-center">
        <i class="icon-rings fa-5x wow bounceIn" data-wow-delay=".2s"></i>
        <p class="text-faded">
          Ceremony
          <br>
          4:00 p.m.
        </p>
      </div>
      <div class="col-lg-2 col-lg-offset-1 text-center">
        <i class="icon-wine fa-5x wow bounceIn" data-wow-delay=".4s"></i>
        <p class="text-faded">
          Cocktails
          <br>
          5:00 p.m.
        </p>
      </div>
      <div class="col-lg-2 col-lg-offset-1 text-center">
        <i class="icon-placesetting fa-5x wow bounceIn" data-wow-delay=".6s"></i>
        <p class="text-faded">
          Reception
          <br>
          6:00 p.m.
        </p>
      </div>
    </div>
  </div>
</section>
