<section id="gifts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Wedding Registry</h2>
        <hr class="primary">
        <p>Gifts are appreciated but not required. We're registered at the following locations.</p>
      </div>

      <div class="col-sm-3 col-sm-offset-2 text-center registry">
        <a href="http://www1.macys.com/registry/wedding/guest/?registryId=2281067">
          <img src="img/registry/macys.jpg">
        </a>
      </div>

      <div class="col-sm-3 col-sm-offset-2 text-center registry">
        <a href="http://www.crateandbarrel.com/gift-registry/justin-burris-and-stephanie-dietz/r5456423">
          <img src="img/registry/cnb.png">
        </a>
      </div>
    </div>
  </div>
</section>
