<section class="no-padding" id="party">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Bridesmaids and Groomsmen</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-sm-6">
        <a href="#christinaBio" aria-expanded="false" class="portfolio-box" data-toggle="collapse">
          <img src="img/profile/christina.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Maid of Honor
              </div>
              <div class="project-name">
                Christina Dietz
              </div>
            </div>
          </div>
        </a>
        <p id="christinaBio" class="collapse well">
          Christina is Stephanie's favorite sister. When Stephanie was little, she wanted a sister more than anything, and prayed for one for 3 years.
          Stephanie and Christina are able to laugh at pretty much everything, and especially enjoy finding some of the most ridiculous clothing online.
          Christina is studying at Kennesaw State University, and has been dating her boyfriend Bennett for three years.
        </p>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a href="#anneBio" aria-expanded="false" class="portfolio-box" data-toggle="collapse">
          <img src="img/profile/anne.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Bridesmaid
              </div>
              <div class="project-name">
                Anne Weber
              </div>
            </div>
          </div>
        </a>
        <p id="anneBio" class="collapse well">
          Stephanie usually introduces Anne as her "technical" aunt. Anne and her husband Dave live in Florida, where Anne works as a medical trainer.
          Even though Anne and Stephanie didn't live together, Anne took the time to teach Stephanie important things, like makeup, good music, and not to
          take high school drama too seriously. Anne has two dogs, Batman and Bubba, and enjoys traveling and listening to audio books.
        </p>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a href="#michelaBio" aria-expanded="false" class="portfolio-box" data-toggle="collapse">
          <img src="img/profile/michela.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Bridesmaid
              </div>
              <div class="project-name">
                Michela Robertson
              </div>
            </div>
          </div>
        </a>
        <p id="michelaBio" class="collapse well">
          Stephanie and Michela met through mutual friends during college, where they bonded over a love of food and dancing.
          Michela's zen running techniques constantly inspire Stephanie, while Stephanie is always happy to help Michela with her statistics homework
          while she's in graduate school at Duke. Michela and Stephanie both love to try new things, and enjoy dinner parties.
          Michela currently lives in North Carolina, where she is finishing her masters degree.
        </p>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a href="#simoneBio" aria-expanded="false" class="portfolio-box" data-toggle="collapse">
          <img src="img/profile/simone.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Bridesmaid
              </div>
              <div class="project-name">
                Simone Johnson
              </div>
            </div>
          </div>
        </a>
        <p id="simoneBio" class="collapse well">
          Stephanie and Simone met at Georgia State University when Simone defeated Stephanie in a pie eating contest.
          Simone and Stephanie have been running 5Ks recently to work on their running times and celebrate Simone's marriage to Ryan on July 4th.
          Simone is currently working on her PhD in food economics jointly at Georgia State and Georgia Tech, and has 2 cats, Mika and Alba.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-3 col-sm-6">
        <a href="#zacharyBio" aria-expanded="false" class="portfolio-box" data-toggle="collapse">
          <img src="img/profile/zachary.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Best Man
              </div>
              <div class="project-name">
                Zachary Burris
              </div>
            </div>
          </div>
        </a>
        <p id="zacharyBio" class="collapse well">
          Zachary has been Justin's brother all his life. He and Justin grew up
          together and they spent many hours playing games, destroying each
          other's lego creations and generally doing all of the things you would
          expect brothers to do. Zach currently lives with Justin and Stephanie
          in their home in Atlanta.
        </p>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a href="#raymondBio" aria-expanded="false" class="portfolio-box" data-toggle="collapse">
          <img src="img/profile/raymond.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Groomsman
              </div>
              <div class="project-name">
                Raymond Scoggins
              </div>
            </div>
          </div>
        </a>
        <p id="raymondBio" class="collapse well">
          Raymond and Justin were practically neghibors growing up and they came
          to know eachother in high school, through the drama program. Both
          attended Georgia Southern, where they spent many hours studying and
          working hard at classes.
        </p>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a href="#richardBio" aria-expanded="false" class="portfolio-box" data-toggle="collapse">
          <img src="img/profile/richard.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Groomsman
              </div>
              <div class="project-name">
                Richard Bledsoe
              </div>
            </div>
          </div>
        </a>
        <p id="richardBio" class="collapse well">
          Richard and Justin knew of eachother in highschool but it wasn't until
          afterwards that they became friends. Whether it's intense debates
          about latest political topics or which DBZ character is the best, they
          always manage to come to an understanding.
        </p>
      </div>

      <div class="col-lg-3 col-sm-6">
        <a href="#alexBio" aria-expanded="false" class="portfolio-box" data-toggle="collapse">
          <img src="img/profile/alex.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Groomsman
              </div>
              <div class="project-name">
                Alex Jordan
              </div>
            </div>
          </div>
        </a>
        <p id="alexBio" class="collapse well">
          Alex and Justin met at the comic book store, Galactic, at Georgia
          Southern, where they would play games and talk shop. Both of them
          moved to Atlanta, where they continued playing games and talking about
          pop culture.
        </p>
      </div>

    </div>
  </div>
</section>
