<section class="no-padding" id="party">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/profile/christina.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Maid of Honor
              </div>
              <div class="project-name">
                Christina Dietz
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/profile/anne.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Bridesmaid
              </div>
              <div class="project-name">
                Anne Weber
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/profile/michela.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Bridesmaid
              </div>
              <div class="project-name">
                Michela Robertson
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/profile/simone.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Bridesmaid
              </div>
              <div class="project-name">
                Simone Johnson
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
