<section class="bg-primary" id="rsvp">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <script type="text/javascript" src="https://app.rsvpify.com/embed/30509"></script><script type="text/javascript" src="https://app.rsvpify.com/js/iframeResizer.min.js"></script><script type="text/javascript">iFrameResize({autoResize: true,heightCalculationMethod: 'max',enablePublicMethods: true}, "#RSVPifyIFrame");</script>
      </div>
    </div>
  </div>
</section>
