/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_4b6e007b7d0fa3646aa0b33dce17a164.eot");
  src: url("./fontcustom_4b6e007b7d0fa3646aa0b33dce17a164.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_4b6e007b7d0fa3646aa0b33dce17a164.woff") format("woff"),
       url("./fontcustom_4b6e007b7d0fa3646aa0b33dce17a164.ttf") format("truetype"),
       url("./fontcustom_4b6e007b7d0fa3646aa0b33dce17a164.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_4b6e007b7d0fa3646aa0b33dce17a164.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-lake:before,
.icon-mountains:before,
.icon-placesetting:before,
.icon-rings:before,
.icon-table:before,
.icon-wine:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-lake:before { content: "\f106"; }
.icon-mountains:before { content: "\f105"; }
.icon-placesetting:before { content: "\f104"; }
.icon-rings:before { content: "\f100"; }
.icon-table:before { content: "\f103"; }
.icon-wine:before { content: "\f101"; }
